#slider {
    position: relative;
	width: 100%;
}

#templatemo_wrapper {
	width: 840px;
	padding: 0 90px;
	margin: 0 auto;
	background: url(images/templatemo_wrapper.jpg) no-repeat top center;
}

#header {
	width: 840px;
	height: 140px;
	text-align: center;
	background: url(images/templatemo_menu.png) no-repeat top center;
}

#header h1 { margin: 0; padding: 10px 0 0 0; height: 67px; display: block; text-indent: - 10000px; }

#menu {
	width: 800px;
	margin: 0 auto;
	height: 46px;
}


#content {
	width: 820px;
	height: 440px;
	padding: 0 20px 0 0;
}

#social_box {
	clear: both;
	width: 820px;
	height: 85px;
	padding: 0 20px 0 0;
	text-align: right;
	background: url(images/templatemo_followus.png) 220px center no-repeat
}

#social_box a {
	display: inline-block;
	margin-left: 30px;
	width: 60px; height: 60px;
}

#footer {
	width: 820px;
	padding: 20px 20px 20px 0;
	color: #CCC;
	text-align: right;
	font-size: 12px;
}

#footer a {
	color: #CCC;
}

.scroll {
    height: 440px;
    width: 820px;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
    clear: left;
}

.scrollContainer div.panel {
    height: 390px;
    width: 780px;
	padding: 30px 20px 20px;
	overflow: hidden;
}

ul.navigation {
	width: 600px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

ul.navigation li {
    display: inline;
    margin: 0;
	padding: 0;
}

ul.navigation a {
	float: left;
	display: block;
	width: 120px;
	height: 36px;
	padding: 10px 0 0 0;
	color: #d5bf3a;
	font-size: 16px;
	font-weight: bold;
    text-decoration: none;
	text-align: center;
	background: url(images/templatemo_menu_bg.png) no-repeat top center
}

ul.navigation a:hover, ul.navigation a.selected {
	color: #ffea6e;
	background: url(images/templatemo_menu_hover.png) center top no-repeat;
}

ul.navigation a:focus {
    outline: none;
}

.scrollButtons {
    position: absolute;
    top: 300px;
    cursor: pointer;
}

.scrollButtons.left {
    left: -50px;
}

.scrollButtons.right {
    right: -50px;
}

.hide {
    display: none;
}
