{% extends "layout.html" %}
{% block content %}
    <div id="content">
            <div id="cs424p3_container">

	<!-- This version plays nicer with older browsers, 
	     but requires JavaScript to be enabled. 
	     http://java.sun.com/javase/6/docs/technotes/guides/jweb/deployment_advice.html
	     http://download.oracle.com/javase/tutorial/deployment/deploymentInDepth/ -->
	<script type="text/javascript"
		src="http://www.java.com/js/deployJava.js"></script>
	<script type="text/javascript">
	  /* <![CDATA[ */

	  var attributes = { 
	  		codebase:'http://young-mountain-2805.heroku.com/applet/',
            code: 'cs424p3.class',
            archive: 'cs424p3.jar,prtree.jar,modestmaps.jar,mysql-connector-java-3.1.14-bin.jar,postgresql-8.3-604.jdbc3.jar,SQLibrary.jar,sqlitejdbc-v056-pure.jar,sqlitejdbc-v056.jar,json.jar,core.jar',
            width: 1000, 
            height: 700,
          };
          var parameters = { 
            image: 'loading.gif',
            centerimage: 'true',
          };
          var version = '1.5';
          deployJava.runApplet(attributes, parameters, version);

          /* ]]> */
        </script>
        
	<noscript> <div>
	  <!--[if !IE]> -->
	  <object classid="java:cs424p3.class" 
            	  type="application/x-java-applet"
            	  archive="cs424p3.jar,prtree.jar,modestmaps.jar,mysql-connector-java-3.1.14-bin.jar,postgresql-8.3-604.jdbc3.jar,SQLibrary.jar,sqlitejdbc-v056-pure.jar,sqlitejdbc-v056.jar,json.jar,core.jar"
            	  width="1000" height="700"
            	  standby="Loading Processing software..." >
            
		<param name="codebase" value="http://young-mountain-2805.heroku.com/applet/" />
	    <param name="archive" value="cs424p3.jar,prtree.jar,modestmaps.jar,mysql-connector-java-3.1.14-bin.jar,postgresql-8.3-604.jdbc3.jar,SQLibrary.jar,sqlitejdbc-v056-pure.jar,sqlitejdbc-v056.jar,json.jar,core.jar" />
	    
	    <param name="mayscript" value="true" />
	    <param name="scriptable" value="true" />
	    
	    <param name="image" value="loading.gif" />
	    <param name="boxmessage" value="Loading Processing software..." />
	    <param name="boxbgcolor" value="#FFFFFF" />
	  <!--<![endif]-->

	    <!-- For more instructions on deployment, 
		 or to update the CAB file listed here, see:
		 http://java.sun.com/javase/6/webnotes/family-clsid.html
		 http://java.sun.com/javase/6/webnotes/install/jre/autodownload.html -->
	    <object classid="clsid:8AD9C840-044E-11D1-B3E9-00805F499D93"
		    codebase="http://java.sun.com/update/1.6.0/jinstall-6u20-windows-i586.cab"
		    width="1000" height="700"
		    standby="Loading Processing software..."  >
	      
	      <param name="codebase" value="http://young-mountain-2805.heroku.com/applet/" />
	      <param name="code" value="cs424p3" />
	      <param name="archive" value="cs424p3.jar,prtree.jar,modestmaps.jar,mysql-connector-java-3.1.14-bin.jar,postgresql-8.3-604.jdbc3.jar,SQLibrary.jar,sqlitejdbc-v056-pure.jar,sqlitejdbc-v056.jar,json.jar,core.jar" />
	      
	      <param name="mayscript" value="true" />
	      <param name="scriptable" value="true" />
	      
	      <param name="image" value="loading.gif" />
	      <param name="boxmessage" value="Loading Processing software..." />
	      <param name="boxbgcolor" value="#FFFFFF" />
	      
	      <p>
		<strong>
		  This browser does not have a Java Plug-in.
		  <br />
		  <a href="http://www.java.com/getjava" title="Download Java Plug-in">
		    Get the latest Java Plug-in here.
		  </a>
		</strong>
	      </p>
	      
	    </object>
	    
	  <!--[if !IE]> -->
	  </object>
	  <!--<![endif]-->

	</div> </noscript>

      </div>
    </div>
{% endblock %}
