{% extends "layout.html" %}
{% block content %}
    <div id="content">
      <div class="post">
        <h2 class="title"><a href="#">Download / Installation</a></h2>
        <p class="meta"><span class="date">2011-10-31</span> <span class="posted">The Group<a href="#"></a></span></p>
        <div style="clear: both;">&nbsp;</div>
        <div class="entry" style="color:white;">
          <p>
            <b>
              <ol>
                <li>
                  Download:
                  <ul>
                    <li><a href="http://www2.cs.uic.edu/~emagdel/it_came_out_of_the_sky/application.macosx.zip">Mac</a></li>
                    <li><a href="http://www2.cs.uic.edu/~emagdel/it_came_out_of_the_sky/application.linux.zip">Linux</a></li>
                    <li><a href="http://www2.cs.uic.edu/~emagdel/it_came_out_of_the_sky/application.windows.zip">Windows</a></li>
                  </ul>
                </li>
                <li>
                  Unzip files
                </li>
              </ol>
            </b>
            <br />
          </p>
          <!-- <p class="links"><a href="#" class="more">Read More</a><a href="#" title="b0x" class="comments">Comments</a></p> -->
        </div>
      </div>
      <div class="post">
        <h2 class="title"><a href="#">Source &amp; Contribute</a></h2>
        <p class="meta"><span class="date">2011-10-31</span> <span class="posted">The Group<a href="#"></a></span></p>
        <div style="clear: both;">&nbsp;</div>
        <div class="entry" style="color:white;">
          <p>
            <ul>
              <li>GIT: git clone git@github.com:camillol/cs424p3.git</li>
              <li>Direct: <a href="https://github.com/camillol/cs424p3">https://github.com/camillol/cs424p3</a></li>
              <li>Source: <a href="https://github.com/camillol/cs424p3/zipball/master">https://github.com/camillol/cs424p3/zipball/master</a></li>
            </ul>
            <br />
          </p>
          <!-- <p class="links"><a href="#" class="more">Read More</a><a href="#" title="b0x" class="comments">Comments</a></p> -->
        </div>
      </div>
      <div class="post">
        <h2 class="title"><a href="#">Java Libraries</a></h2>
        <p class="meta"><span class="date">2011-10-31</span> <span class="posted">The Group<a href="#"></a></span></p>
        <div style="clear: both;">&nbsp;</div>
        <div class="entry" style="color:white;text-align:left;">
          <p>
            <ul>
              <li>
                  git clone https://github.com/RandomEtc/modestmaps-processing.git
                  Then copy the modestmaps directory within to the Processing Libraries folder.
              </li>
              <li>
                Get the SQLibrary from https://github.com/downloads/camillol/sqlibrary/SQLibrary-0.1.1.zip
                IMPORTANT! Do not get the one at http://bezier.de/processing/libs/sql/ - it is horribly slow with SQLite.
              </li>
              <li>
                Get prtree.jar from <a href="http://khelekore.org/prtree/git.shtml">http://khelekore.org/prtree/git.shtml</a> 
                and install it as Libraries/prtree/library/prtree.jar
              </li>
              <li>GET proxml <a href="http://creativecomputing.cc/p5libs/proxml/proxml.zip">http://creativecomputing.cc/p5libs/proxml/proxml.zip</a></li>
            </ul>
            <br />
          </p>
          <!-- <p class="links"><a href="#" class="more">Read More</a><a href="#" title="b0x" class="comments">Comments</a></p> -->
        </div>
      </div>
    </div>
{% endblock %}
