{% extends "layout.html" %}
{% block content %}
<div id="content">
  <div class="post">
    <h2 class="title"><a href="#">Presentation Questions</a></h2>
    <p class="meta"><span class="date"> Tuesday, November 1, 2011</span><span class="posted">Posted by <a href="#">The group</a></span></p>
    <div style="clear: both;">&nbsp;</div>
    <div class="entry">
      <p>
        <ol>
          <li>
            How do you do the animation in the movie?
            <ul>
              <li>
              <a name = "animation"></a>
              In playback mode, a Player object keeps track of real time, maps it to playback time
              (we use a playback speed of 5 days per second), and maintains a sliding window of
              sightings to draw. Sightings are loaded from the database in chunks, making sure that
              the latest sighting in the window is ahead of the current playback time. Sightings are
              dropped out of the window when they are older than the fadeout threshold (5 days).
              </li>
              <li>
              When drawing a frame, the renderer iterates through the current window of sightings,
              computing their age compared to the current playback time. When the age goes below 0,
              i.e. into the future, it stops iterating.
              For each sighting in the active timeframe, a dot is drawn. The alpha value is inversely
              proportional to the age (fully opaque when the dot appears, fading to fully transparent
              when it reached the fadeout threshold). If the age is less than one day, a stroked circle is
              also drawn; the circle expands linearly, while its opacity fades out quadratically.
              This produces the "raindrop" effect that draws attention to new sightings as they appear.
              </li>
            </ul>
          </li>
          <li>
            Where did you get the weather Data? Is it for zipcodes, cities or states? For 
            everyday, month or year?<!-- Lots of data &amp; amooth visualization? -->
            <ul>
              <li>
                Data came from <a href="http://www.wunderground.com">wunderground.com</a>, 
                it corresponds to City,State AND date/time (hourly) for where the sighting occurred.
              </li>
            </ul>
          </li>
          <li>
            (Our group)
          </li>
          <li>
            How did you correlate the weather data?
            <ul>
              <li>
                We have not done correlation by weather conditions, but we did correlations by season of the year. 
                We displayed weather condition data in the sighting detail view.
              </li>
            </ul>
          </li>
          <li>
            How did you implement your "explosion" effect on the playback?
            <ul>
              <li>
              See the <a href="#animation">answer</a> to group 1.
              </li>
            </ul>
          </li>
          <li>
            How do you do the animation in the movie?
            <ul>
              <li>
              See the <a href="#animation">answer</a> to group 1.
              </li>
            </ul>
          </li>
          <li>
             How did you make the dots animations when clicking on the play button? 
             Why did you use so bright colors on the graphs opposed to the black background?
            <ul>
              <li>
              For the animation, see the <a href="#animation">answer</a> to group 1.
              </li>
              <li>
                For color choice, it matches to the colors used on the map.  Each color matches sighting type, 
                so changing colors for the sighting groups will cause inconsistency.
              </li>
            </ul>
          </li>
          <li>
             How do you handle maintaining performance while drawing so many points?
            <ul>
              <li>
              In the cluster view, each state's cluster is rendered into a buffer and treated as a whole.
              </li>
              <li>
              In the individual location view, rendering is cached into an overlay layer. For each
              map tile we render a translucent overlay tile; rendering is done on demand in background
              threads, similarly to how tiles are loaded from the server.
              To accelerate rendering
              a given tile, we only draw locations within the tile (plus a margin, so that dots that
              are close to the edge have each half drawn in the appropriate tile). We use R-trees
              as a spatial index to find the right locations quickly.
              The overlay layer is purged and automatically regenerated when the filter conditions
              change.
              Since this system integrates pretty closely to how ModestMaps works, I am thinking of
              merging it into MM so that others can take advantage of it. While writing it, I was
              also able to tighten the conditions for loading tiles, and that change has already been
              incorporated into <a href="https://github.com/RandomEtc/modestmaps-processing">ModestMaps</a>.
              </li>
              <li>
              In the animation view, we keep track of sightings within a sliding window of five days,
              which limits the number of dots that we need to draw in any given frame.
              </li>
            </ul>
          </li>
        </ol>
      </p>
      <!-- <p class="links"><a href="#" class="more">Read More</a><a href="#" title="b0x" class="comments">Comments</a></p> -->
    </div>
  </div>

  <div class="post">
    <h2 class="title"><a href="#">Release notes</a></h2>
    <p class="meta"><span class="date"> Monday, October 31, 2011</span><span class="posted">Posted by <a href="#">The group</a></span></p>
    <div style="clear: both;">&nbsp;</div>
    <div class="entry">
      <p>
        It-Came-Out-Of-The-Sky helps to visualize UFO sightings using maps and stacked bar graphs. 
        Data that is preloaded in the application is in contingent U.S and date range is between 2000 and 2011.
        Application helps user to find correlations between UFO sightings and date/time, geographical locations, population density, and distance from 
        airports, weather stations, and military bases.  Application allows the user to see aggregates sightings data and specific details about the sighting.
        <br />
        <br />
        <b>Can't wait for UFO sighting accounts? TRY THEM OUT NOW, by clicking on the right side bar! You can view UFO sighting accounts by shape and cities.</b>
        <br />
        <iframe width="420" height="315" src="http://www.youtube.com/embed/P-DHTO1cuBc" frameborder="0" allowfullscreen></iframe>
        <br />
        <a href="http://www.youtube.com/watch?v=P-DHTO1cuBc">Youtube link</a>
        <br />
        <h2>Color blind test results:</h2>
        <br />
        <table class="color_blind">
          <tr>
            <th>&nbsp;</th><th>Deuteranope</th><th>Protanope</th><th>Tritanope</th>
          </tr>
          <tr>
            <th>Map</th>
            <td><a href="/images/screenshots/deuteranope_map.jpg" target="_blank"><img src="/images/screenshots/deuteranope_map.jpg" /></a></td>
            <td><a href="/images/screenshots/protanope_map.jpg" target="_blank"><img src="/images/screenshots/protanope_map.jpg" /></a></td>
            <td><a href="/images/screenshots/tritanope_map.jpg" target="_blank"><img src="/images/screenshots/tritanope_map.jpg" /></a></td>
          </tr>
          <tr>
            <th>Chart</th>
            <td><a href="/images/screenshots/deuteranope_chart.jpg" target="_blank"><img src="/images/screenshots/deuteranope_chart.jpg" /></a></td>
            <td><a href="/images/screenshots/protanope_chart.jpg" target="_blank"><img src="/images/screenshots/protanope_chart.jpg" /></a></td>
            <td><a href="/images/screenshots/tritanope_chart.jpg" target="_blank"><img src="/images/screenshots/tritanope_chart.jpg" /></a></td>
          </tr>
        </table>
        Source: <a href="http://www.vischeck.com/vischeck/vischeckImage.php">http://www.vischeck.com/vischeck/vischeckImage.php</a>
      </p>
      <!-- <p class="links"><a href="#" class="more">Read More</a><a href="#" title="b0x" class="comments">Comments</a></p> -->
    </div>
  </div>
  <div class="post">
    <h2 class="title"><a href="#">Week Three</a></h2>
    <p class="meta"><span class="date"> Monday, October 28, 2011</span><span class="posted">Posted by <a href="#">The group</a></span></p>
    <div style="clear: both;">&nbsp;</div>
    <div class="entry">
      <p>
        <ul>
          <li>
            <b>Camillo</b> 
            - Enhanced performance significantly, enabled OpenGL (a lot of work)
          </li>
          <li>
            <b>Priscilla</b> - 
            <ul>
              <li> Created ScrollList:  Customized object which list the occurred sightings in a specific place</li>
              <li> Created VScroll : Vertical scroll that is part of scrollList.</li>
              <li> Updated SightingDetailsView:  Functions to display the detailed information of a specific sighting (the one selected from the scrollList).</li>
              <li> 
                Updated MapView: Make sure that moving and zooming the map and drawing information box only occur when the mouse is over 
                the map.  Drawing function for different types of sightings (drawn icon depends of the type of sighting)
              </li>
              <li> Worked on the first version of filter places&amp;sightings based on dates &amp; times specified by the user.</li>
              <li> Modifies database queries to retrieve number of UFO types &amp; UFO type by place. </li>
           </ul>
          </li>
           <li>
              <b>Eugene</b> - Collected / processed weather data, weather stations data.
           </li>
        </ul>
      </p>
      <!-- <p class="links"><a href="#" class="more">Read More</a><a href="#" title="b0x" class="comments">Comments</a></p> -->
    </div>
  </div>

  <div class="post">
    <h2 class="title"><a href="#">Week Two</a></h2>
    <p class="meta"><span class="date"> Friday, October 21, 2011</span><span class="posted">Posted by <a href="#">The group</a></span></p>
    <div style="clear: both;">&nbsp;</div>
    <div class="entry">
      <p>
        <ul>
          <li>
            <b>Camillo</b> 
            - Worked on animations, created main project plan, assisted other 
            group members with various isssues that arose
          </li>
          <li>
            <b>Priscilla</b> - 
            <ul>
              <li> Create checkbox </li>
              <li> customized object which draws a checkbox with a text and/or color/image  </li>
              <li> Create HSlider </li>
              <li> customized object  which draws a horizontal slider with two marks (to specify      ranges of values)</li>
              <li> Create SettingsView </li>
              <li> 
                View that display the different options the user can choose to visualize on the map.  
                (It includes:  Year,Month &amp; Time sliders, Type of UFO checkboxes group and airport checkbox, 
                &amp; title that specified what is showing on the map.) 
              </li>
              <li>
                Modified MapView: Functions to draw sightings and airports, the size of the icons depends on the current zoom level. 
                Function to show a information box when the mouse cursor is over a sightings
              </li>
              <li>Search for icons to be used in the project.</li>
              <li>
                Create SightingDetailsView:  customized object that will display all the sighting information as it was original 
                reported.  Interaction was created..when the user clicks on a sighting the view will appear.  
                Content of the view is not ready yet. 
              </li>
            </ul>
          </li>
          <li>
            <b>Eugene</b> - Built ORM like interface to access database through Java objects, 
            worked on data integrity / optimization by adding indexes and integrating with Google and Bing APIs 
          </li>
          <li><b>Group</b> - Come up with a higher level categories (7 types) for the many different sighting types.
              Had two meetings regarding general project layout and interface design
          </li>
        </ul>
      </p>
      <!-- <p class="links"><a href="#" class="more">Read More</a><a href="#" title="b0x" class="comments">Comments</a></p> -->
    </div>
  </div>
  <div class="post">
    <h2 class="title"><a href="#">Week One</a></h2>
    <p class="meta"><span class="date"> Friday, October 14, 2011</span><span class="posted">Posted by <a href="#">The Group</a></span></p>
    <div style="clear: both;">&nbsp;</div>
    <div class="entry">
      <p>
      <ul>
        <li><b>Camillo</b> - Set up a repository on GitHub with initial code for view hierarchy, animation and miscellanous utilities.</li>
        <li><b>Priscilla</b> - Gather the location data by county and places.  
                    Gather the population density by state, counties and places. Download the modest_maps_interactive to understand how it works.</li>
        <li>
          <b>Eugene</b> - Wrote scraper that downloaded, parsed data from: 
          <a href="http://www.nuforc.org/webreports/ndxloc.html">www.nuforc.org/webreports/ndxloc.html</a>, 
          and inserted it into database. Setup website.
        </li>
        <li><b>Group</b> - Had two meetings regarding general project layout and interface design</li>
        </ul>
      </p>
      <!-- <p class="links"><a href="#" class="more">Read More</a><a href="#" title="b0x" class="comments">Comments</a></p> -->
    </div>
  </div>
  <div style="clear: both;">&nbsp;</div>
</div>
{% endblock %}
