{% extends "layout.html" %}
{% block content %}
    <div id="content">
  <div class="post">
    <h2 class="title"><a href="#">Most of sightings are near the shores</a></h2>
    <p class="meta"><span class="date"></span> <span class="posted"><a href="#"></a></span></p>
    <div style="clear: both;">&nbsp;</div>
    <div class="entry" style="color:white;">
      <p>
        <b>
          Density of places created a solid shape, which showed that most of the sightings occur near shores.
          In the screenshot below, it shows only sightings of type "Lights".
        </b>
        <br />
        <a href="/images/screenshots/SightingsOnMapByUFO.png" target="_blank">
        <img src="/images/screenshots/SightingsOnMapByUFO.png" class="screenshots" />  
        </a>
      </p>
      <!-- <p class="links"><a href="#" class="more">Read More</a><a href="#" title="b0x" class="comments">Comments</a></p> -->
    </div>
  </div>
  <div class="post">
    <h2 class="title"><a href="#">Density </a></h2>
    <p class="meta"><span class="date"></span> <span class="posted"><a href="#"></a></span></p>
    <div style="clear: both;">&nbsp;</div>
    <div class="entry" style="color:white;">
      <p>
        <b>
          The County Population density graph shows that the number of reported sightings is directly proportional to the density population by county. This can be seen on the figure bellow.
        </b>
        <br />
        <a href="/images/screenshots/DensityPopulationGraph.png" target="_blank">
          <img src="/images/screenshots/DensityPopulationGraph.png" class="screenshots" />
        </a>
      </p>
      <!-- <p class="links"><a href="#" class="more">Read More</a><a href="#" title="b0x" class="comments">Comments</a></p> -->
    </div>
  </div>
  <div class="post">
    <h2 class="title"><a href="#">Sightings by Year</a></h2>
    <p class="meta"><span class="date"></span> <span class="posted"><a href="#"></a></span></p>
    <div style="clear: both;">&nbsp;</div>
    <div class="entry" style="color:white;">
      <p>
        <b>
          Stacked bar graph shows that sightings were increasing up to 2008, and afterwards they began to decline.
          Interesting to note that proportions of each sighting remained similar.
        </b>
        <br />
        <a href="/images/screenshots/ByYearGraph.png" target="_blank">
          <img src="/images/screenshots/ByYearGraph.png" class="screenshots" />  
        </a>
      </p>
      <!-- <p class="links"><a href="#" class="more">Read More</a><a href="#" title="b0x" class="comments">Comments</a></p> -->
    </div>
  </div>
  <div class="post">
    <h2 class="title"><a href="#">Sightings by Time of the day</a></h2>
    <p class="meta"><span class="date"></span> <span class="posted"><a href="#"></a></span></p>
    <div style="clear: both;">&nbsp;</div>
    <div class="entry" style="color:white;">
      <p>
        <b>
          Time of the day graph showed that sightings occur mostly in the evening time.  Interesting to note that there is a spike at 12pm (noon).  
          Possibly could be due to input error due to pm/am confusion or due to the fact that people have their lunch breaks at the that time.
        </b>
        <br />
        <a href="/images/screenshots/ByTimeGraph.png" target="_blank">
          <img src="/images/screenshots/ByTimeGraph.png" class="screenshots" />  
        </a>
      </p>
      <!-- <p class="links"><a href="#" class="more">Read More</a><a href="#" title="b0x" class="comments">Comments</a></p> -->
    </div>
  </div>
  <div class="post">
    <h2 class="title"><a href="#">Increase in distance from airports leads to decrease in number of sightings</a></h2>
    <p class="meta"><span class="date"></span> <span class="posted"><a href="#"></a></span></p>
    <div style="clear: both;">&nbsp;</div>
    <div class="entry" style="color:white;">
      <p>
        <b>
          Graph below shows that number of sightings decline as distance from airport increases.  This might suggest that people often confuse UFOs 
          with men made flying objects.
        </b>
        <br />
        <a href="/images/screenshots/ByAirportDistanceGraph.png" target="_blank">
          <img src="/images/screenshots/ByAirportDistanceGraph.png" class="screenshots" />  
        </a>
      </p>
      <!-- <p class="links"><a href="#" class="more">Read More</a><a href="#" title="b0x" class="comments">Comments</a></p> -->
    </div>
  </div>
</div>
{% endblock %}
